p{ font-size: 24px;
    font-family: Arial, sans-serif;
    word-spacing: 10%;
    color:purple;}


 p{ font-family: serif;
  letter-spacing: 0,5;
  font-size: medium;
  color:darkslategray;}

a:link { color: orange;}
a:hover{ color:hotpink}
a:visited {color: brown}
 body {width: 90%;
       margin-top: 2cm;
       margin-bottom: 2cm;
       margin-left: 2cm;
       margin-right: 2cm;
       background-image: url("/media/css/chat.png");
       background-repeat: no-repeat;
       background-size: cover;
       background: -webkit-radial-gradient(rgb(129, 173, 213), rgb(93, 104, 10));
       background: radial-gradient(rgb(129, 173, 213), rgb(93, 104, 10));

       
}
 blockquote {margin-left: 25%;
             font-size: 160%;
             border-spacing: 30px;
             background-color: gray;
             padding-left: firebrick: 3px;
             width: 50%;
             padding: 30px;}
 q {border-bottom: 80px;
    border-top: 80px;
    }
 

 
 